* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  justify-content: space-between; 
  align-items: center; 
}

.box1, .box2 {
  width: 120px;
  height: 120px;
}

.box1 {
  background-color: tomato;
}

.box2 {
  background-color: teal;
}
