.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: blue;
}
