* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: aquamarine;
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    text-align: center;
}